name: build-and-push-image.yml

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: 'eu-central-1'
          role-session-name: ${{ github.repository_id }}-${{ github.job }}-${{ github.run_id }}
          role-to-assume: ${{ vars.DEPLOYMENT_IAM_ROLE }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set image tag
        id: set-image-tag
        run: echo "image-tag=${GITHUB_SHA::8}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: "${{ vars.ECR_REPOSITORY }}:${{ steps.set-image-tag.outputs.image-tag }},${{ vars.ECR_REPOSITORY }}:latest"
          cache-from: type=gha
          cache-to: type=gha,mode=max
